{
  "plugins": ["prettier-plugin-go-template"],
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4,
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true
      }
    },
    {
      "files": ["*.js", "*.ts", "*.tsx"],
      "options": {
        "useTabs": true,
        "printWidth": 120,
        "singleQuote": true
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": [
        "*.json",
        "*.jsonc",
        "*.yaml",
        "*.yml",
        "*.toml",
        "*.prettierrc"
      ],
      "excludeFiles": ["layouts/**"]
    }
  ]
}
