{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
{{- $isFirst := default false .IsFirst -}}
{{- $imageLoading := partial "helper/performance/media-attrs" (dict
    "Context" $Page
    "Role" "featured"
    "IsFirst" $isFirst
    "IsDetail" (not $IsList)
) -}}
<header class="article-header">
    {{- $image := partial "helper/image" (dict "Image" $Page.Params.image "Resources" $Page.Resources "Context" $Page) -}}
    {{ if $image }}
    <div class="article-image">
        <a href="{{ $Page.RelPermalink }}">
            {{- $imageAttributes := dict
                "src" $image.Permalink
                "width" $image.Width
                "height" $image.Height
                "alt" (printf "Featured image of post %s" $Page.Title)
                "loading" (index $imageLoading "loading")
                "sizes" "(max-width: 767px) calc(100vw - 30px), (max-width: 1023px) 700px, (max-width: 1279px) 950px, 1232px"
            -}}
            {{- with index $imageLoading "fetchpriority" -}}
                {{- $imageAttributes = merge $imageAttributes (dict "fetchpriority" .) -}}
            {{- end -}}
            {{ partial "helper/responsive-image" (dict
                "Resource" $image.Resource
                "Widths" (cond $Page.Site.Params.ImageProcessing.Content.Enabled $Page.Site.Params.ImageProcessing.Content.Widths nil)
                "Process" (dict
                    "Format" $Page.Site.Params.ImageProcessing.Content.Format
                    "Quality" $Page.Site.Params.ImageProcessing.Content.Quality
                )
                "Attributes" $imageAttributes
            ) }}
        </a>
    </div>
    {{ end }}

    {{ partial "article/components/details" (dict "Page" $Page "IsList" $IsList) }}
</header>
