{{ $mermaidConfig := index .Site.Data.external "Mermaid" }}
{{ $mermaidSrc := "" }}
{{ $mermaidType := "" }}
{{ range $mermaidConfig }}
{{ if or (eq .type "script") (eq .type "module") }}
{{ $mermaidSrc = .src }}
{{ $mermaidType = .type }}
{{ end }}
{{ end }}

{{ if eq $mermaidType "module" }}
<script type="module" src="{{ $mermaidSrc }}"></script>
{{ else }}
<script src="{{ $mermaidSrc }}"></script>
{{ end }}
{{ $mermaid := resources.Get "ts/mermaid.ts" | js.Build (dict "format" "iife" "minify" true) | fingerprint }}
<script src="{{ $mermaid.RelPermalink }}" integrity="{{ $mermaid.Data.Integrity }}"></script>
<style>
    /* Style adjustments for mermaid diagrams */
    .article-content {
        pre.mermaid {
            background-color: transparent;
            padding: 0;
            overflow: visible;
        }
    }

    /* Centre mermaid diagrams */
    .mermaid svg {
        display: block;
        margin: 0 auto;
    }
</style>