/* Light Mode Specifics (Cyberpunk 2077 Style) */
:root[data-scheme="light"] {
    /* Pagination Light Mode */
    .pagination {
        background: transparent;
        box-shadow: none;
        gap: 10px;
        overflow: visible;

        .page-link {
            border-radius: 0;
            background-color: $cp-white;
            border: 2px solid $cp-black;
            box-shadow: 3px 3px 0px $cp-black;
            color: $cp-black;

            &.current {
                background-color: $cp-black;
                color: $cp-yellow;
                font-weight: bold;
                box-shadow: 3px 3px 0px $cp-red;
            }
        }
    }
}