/*
*   Style: monokai
*   https://xyproto.github.io/splash/docs/monokai.html
*/

$color: #f8f8f2;
$background-color: #0d0d12;
$error-color: #FF003C;
$keyword-color: #FF3F7F;
$text-color: $color;
$name-color: #00F0FF;
$literal-color: #FCEE09;

@import "common.scss";
