/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

$color: #050A0E;
$background-color: #fafafa;
$error-color: #FF003C;
$keyword-color: #FF003C;
$text-color: #050A0E;
$name-color: #0099aa;
$literal-color: #d88200;

@import "common.scss";
